<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bsMapper">

	<resultMap type="BookReg" id="brResultSet">
		<id  property="brBnumber" column="br_BNUMBER"/>
		<result property="brStudentId" column="br_STUDENT_ID"/>
		<result property="brName" column="br_NAME"/>
		<result property="brCategory" column="br_CATEGORY"/>
		<result property="brWriter" column="br_WRITER"/>
		<result property="brPublisher" column="br_PUBLISHER"/>
		<result property="brIssueDate" column="br_ISSUE_DATE"/>	
		<result property="brCount" column="br_COUNT"/>		
		<result property="brISBN" column="br_ISBN"/>
		<result property="brCondition" column="br_CONDITION"/>
		<result property="brComment" column="br_COMMENT"/>
		<result property="brPrice" column="br_PRICE"/>
		<result property="brRegDate" column="br_REG_DATE"/>
		<result property="brModDate" column="br_MOD_DATE"/>
		<result property="brStatus" column="br_STATUS"/>
		<result property="brOrderStatus" column="br_ORDER_STATUS"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
		<result property="brMemberName" column="MEMBER_NAME"/>
	</resultMap>
	
	<!-- 중고서적 리스트 -->
	<select id="selectList" resultMap="brResultSet">
		SELECT *
		FROM BOOK_REG
		WHERE br_STATUS = 'N'
		ORDER BY br_BNUMBER DESC
	</select>
	
	<!-- 중고서적 디테일 -->
  	<select id = "selectBs" parameterType = "_int" resultMap = "brResultSet">
        SELECT BR_BNUMBER, BR_STUDENT_ID, MEMBER_NAME, BR_NAME, BR_CATEGORY, BR_WRITER, BR_PUBLISHER, BR_ISSUE_DATE, BR_COUNT, BR_ISBN, BR_CONDITION, BR_COMMENT, BR_PRICE, BR_REG_DATE, BR_STATUS, BS_ORDER_STATUS, ORIGINAL_FILENAME, RENAME_FILENAME
		FROM BOOK_REG
		INNER JOIN MEMBER
		ON BOOK_REG.BR_STUDENT_ID = member.member_id
        WHERE br_BNUMBER = #{brBnumber} AND br_STATUS = 'N'
    </select>
 	
 	<!-- 중고서적 조회수 -->
    <update id="addReadCount" parameterType = "_int">
        UPDATE BOOK_REG
        SET br_COUNT = br_COUNT + 1
        WHERE br_BNUMBER = #{br_BNUMBER}
    </update>
    
    <!-- 중고서적 작성 -->
    <insert id="insertBs" parameterType="BookReg">
    	INSERT INTO BOOK_REG
    	VALUES (SEQ_BRNO.NEXTVAL, #{brStudentId}, #{brName}, #{brCategory}, #{brWriter}, #{brPublisher}, #{brIssueDate}, #{brCount}, #{brISBN}, #{brCondition}, #{brComment},
    			#{brPrice}, SYSDATE, SYSDATE, 'N', 'N', #{originalFileName}, #{renameFileName})
    </insert>
    
    <!-- 중고서적 수정  -->
    <insert id="updateBs" parameterType="BookReg">
    	UPDATE BOOK_REG
    	SET br_NAME=#{brName}, br_CATEGORY=#{brCategory}, br_STUDENT_ID=#{brStudentId}, 
    		br_WRITER=#{brWriter}, br_PUBLISHER=#{brPublisher}, br_ISSUE_DATE=#{brIssueDate}, 
    		br_ISBN=#{brISBN}, br_CONDITION=#{brCondition}, br_PRICE=#{brPrice}, 
    		br_COMMENT=#{brComment}, ORIGINAL_FILENAME=#{originalFileName}, 
    		RENAME_FILENAME=#{renameFileName}, br_MOD_DATE=SYSDATE
    	WHERE br_BNUMBER=#{brBnumber}
    </insert>
    
    <!-- 중고서적 삭제 -->
    <update id="deleteBs" parameterType="_int">
    	UPDATE BOOK_REG
    	SET BR_STATUS = 'Y'
    	WHERE br_BNUMBER = #{br_BNUMBER}
    </update>
    
    <!-- Book_REG 테이블 업데이트 -->
    <update id="updateComplete" parameterType="_int">
    	UPDATE BOOK_REG
    	SET BR_STATUS = 'Y', BS_ORDER_STATUS= 'Y'
    	WHERE br_BNUMBER = #{brBnumber}
    </update>
    
    <!-- 판매완료 insert -->
    <insert id="insertBooksale" parameterType="map">
    	INSERT INTO BOOK_SALE
    	VALUES (SEQ_BSNO.NEXTVAL, #{bNo}, #{sId}, #{bId}, SYSDATE)
    </insert>
    
    <!-- 중고서적 index top 리스트 -->
    <select id="selectTopList" resultMap="brResultSet">
    	<![CDATA[
    	SELECT *
    	FROM (SELECT *
    		  FROM BOOK_REG
    		  WHERE BR_STATUS='N'
    		  ORDER BY BR_REG_DATE DESC)
    	WHERE ROWNUM <= 4
    	]]>    
    </select>
    
    <resultMap type="BookSales" id="bsHistoryResultSet">
    	<id property="bsOrderNo" column="BS_ORDER_NO"/>
    	<result property="bsBnumber" column="BS_BNUMBER"/>
    	<result property="sStudent" column="S_STUDENT_ID"/>
    	<result property="bStudent" column="B_STUDENT_ID"/>
    	<result property="bsDate" column="BS_DATE"/>
    	<result property="bName" column="BR_NAME"/>
    	<result property="bPrice" column="BR_PRICE"/>
    </resultMap>
    <select id="selectHistory" parameterType="string" resultMap="bsHistoryResultSet">
    	SELECT BS.* , BR_NAME , BR_PRICE
		FROM BOOK_SALE BS
		JOIN BOOK_REG BR ON (BS.BS_BNUMBER = BR.BR_BNUMBER)
		WHERE S_STUDENT_ID = #{userId} OR B_STUDENT_ID = #{userId}
    </select>
    
</mapper>
