<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMapper">

	
	<select id="selectCount" resultType="_int" parameterType="map">
		select count(*)
		from book
		where b_status='Y' or b_status= 'R'	
		<choose>
			<when test='searchOption.equals("title")'>
				and b_name = #{search}
			</when>
			<when test='searchOption.equals("author")'>
				and b_writer = #{search}
			</when>
			<when test='searchOption.equals("publisher")'>
				and b_publisher = #{search}
			</when>
			<when test='searchOption.equals("ISBN")'>
				and b_isbn = #{search}
			</when>									
		</choose>
	</select>
	
	

 	
</mapper>
