<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="seatMapper">
  	
  	<select id="countSeat" resultType = "_int">
  		SELECT COUNT(*) 
		FROM STUDYSEAT
		WHERE SS_USE = 'N'
		GROUP BY SS_FLOOR
  	</select>
  	
  	<select id = "selectFloorSeat" parameterType = "string" resultType = "Seat">
  		SELECT *
  		FROM STUDYSEAT
  		WHERE SS_FLOOR = #{floor}
  	</select>
  	
  	<update id = "updateResv" parameterType = "Seat">
  		UPDATE STUDYSEAT
  		SET SS_USE = 'R' , CERT_CODE = #{cert_code} , STUDENT_ID = #{student_id}
  		WHERE SS_NO = #{ss_no} 
  	</update>
  
  	<select id = "checkDup" parameterType = "string" resultType = "_int">
  		SELECT COUNT(*)
  		FROM STUDYSEAT
  		WHERE STUDENT_ID = #{id} AND SS_USE = 'R'
  	</select>
  	
  	<select id = "checkUsing" parameterType = "string" resultType = "_int">
  		SELECT COUNT(*)
  		FROM STUDYSEAT
  		WHERE STUDENT_ID = #{id} AND SS_USE = 'Y'
  	</select>
  	
  	<resultMap id = "seatResultSet" type = "Seat">
  		<id property="ss_no" column="SS_NO"/>
  		<result property="ss_floor" column="SS_FLOOR"/>
  		<result property="ss_use" column="SS_USE"/>
  		<result property="ss_cert" column = "SS_CERT"/>
  		<result property="cert_code" column="CERT_CODE"/>
  		<result property="student_id" column="STUDENT_ID"/>
  		<result property="start_Time" column="START_TIME"/>
  		<result property="end_time" column="END_TIME"/>
  	</resultMap>
  	
  	<resultMap id = "historyResultSet" type = "SeatHistory">
  		<id property="shNo" column="SH_NO"/>
  		<result property="useDate" column = "USE_DATE"/>
  		<result property="shStatus" column="SH_STATUS"/>
  		<collection property="seat" resultMap="seatResultSet"/>
  	</resultMap>
  	
  	<select id = "selectHistoryList" parameterType="string" resultMap="historyResultSet">
  		SELECT *
		FROM SEAT_HISTORY SH
		JOIN STUDYSEAT S ON (SH.SS_NO = S.SS_NO)
		WHERE SH.STUDENT_ID = #{id} AND SH.SH_STATUS IN ('E','R','U') 
		ORDER BY USE_DATE DESC
  	</select>
  
  	<insert id="insertHistory" parameterType = "Seat">
  		INSERT INTO SEAT_HISTORY
  		VALUES(SEQ_SHNO.NEXTVAL, #{ss_no} , SYSDATE , #{student_id} , 'R')
  	</insert>
  	
  	<update id = "cancelResv" parameterType="Seat">
  		UPDATE SEAT_HISTORY
  		SET SH_STATUS = 'N'
  		WHERE SS_NO = #{ss_no}  AND STUDENT_ID = #{student_id} 
			  AND USE_DATE = (SELECT MAX(USE_DATE)
                			  FROM SEAT_HISTORY
                			  WHERE STUDENT_ID = #{student_id})
  	</update>
  	
  	<update id  = "resetSeat" parameterType = "_int">
  		UPDATE STUDYSEAT
		SET SS_USE = 'N' , CERT_CODE = NULL , STUDENT_ID = NULL
		WHERE SS_NO = #{cancelId}
  	</update>
  	
  	<select id = "selectsId" parameterType = "string" resultMap = "historyResultSet">
  		SELECT *
		FROM SEAT_HISTORY
		WHERE STUDENT_ID = #{id} AND (SH_STATUS = 'R' OR  SH_STATUS = 'U')
  	</select>
  	
  	<update id = "checkCode" parameterType = "Seat">
  		UPDATE STUDYSEAT 
		SET SS_USE = 'Y' , SS_CERT = 'Y'
		WHERE STUDENT_ID = #{student_id} AND CERT_CODE = #{cert_code}
  	</update>
  	
  	<update id = "updateHistory" parameterType="Seat">
  		UPDATE SEAT_HISTORY
  		SET SH_STATUS = 'U'
  		WHERE STUDENT_ID = #{student_id} AND SS_NO = #{ss_no}
  	</update>
  	
  	<update id = "updateSeat" parameterType="Seat">
		UPDATE STUDYSEAT
		SET SS_USE = 'N' , SS_CERT = 'N' , CERT_CODE = NULL , STUDENT_ID = NULL , START_TIME = NULL , END_TIME = NULL
		WHERE SS_NO = #{ss_no} AND STUDENT_ID = #{student_id}
  	</update>
  	
  	<update id = "updateOutHistory" parameterType="Seat">
  		UPDATE SEAT_HISTORY 
		SET SH_STATUS = 'E'
		WHERE SS_NO = #{ss_no} AND STUDENT_ID = #{student_id}
  	</update>
</mapper>
