<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studyroomMapper">
	<select id="getRoomCount" resultType="_int">
		SELECT count(*) 
		FROM STUDYROOM		 
	</select>
	
	<select id="selectRoomList" resultMap="studyroomResultSet">
		SELECT *
		FROM STUDYROOM
		
	</select>
	
	<select id="getSrInfo" parameterType="string" resultMap="studyroomResultSet">
		SELECT *
		FROM STUDYROOM
		WHERE SR_FLOOR=${so_floor}
	</select>
	
	<resultMap type="Studyroom" id="studyroomResultSet">
		<id property="sr_name" column="SR_NAME"/>
		<result property="sr_floor" column="SR_FLOOR"/>
		<result property="sr_maxPeople" column="SR_MAXPEOPLE"/>
	</resultMap>

	
	<insert id="reservationStudyroom" parameterType="StudyroomOrder">
		INSERT INTO STUDYROOM_ORDER
		VALUES (SEQ_SONO.NEXTVAL, #{so_floor}, #{so_name}, #{so_maxpeople},
				#{so_organizer},#{so_participant}, #{so_start_time}, #{so_end_time},#{so_date},'Y')
	</insert>
	
	<select id="selectOrderList" resultMap="studyroomOrderResultSet">
		SELECT * 
		FROM STUDYROOM_ORDER
		ORDER BY SO_NO DESC
	</select>
		
	<select id="selectName" parameterType = "java.util.HashMap" resultType = "string">
		select member_name 
		from member
		where 
		<choose>
			<when test = "list.size != 0">
				member_id in
				<foreach collection="list" item = "item" index = "index" separator = "," open = "(" close = ")">
					#{item}
				</foreach>
			</when>
		</choose>
	</select>
	<resultMap type="StudyroomOrder" id="studyroomOrderResultSet">
		<id property="so_no" column="SO_NO"/>
		<result property="sr_floor" column="SR_FLOOR"/>
		<result property="so_name" column="SO_NAME"/>
		<result property="sr_maxPeople" column="SR_MAXPEOPLE"/>
		<result property="so_organizer" column="SO_ORGAIZER"/>
		<result property="so_participant" column="SO_PARTICIPANT"/>
		<result property="so_start_time" column="SO_START_TIME"/>
		<result property="so_end_time" column="SO_END_TIME"/>
		<result property="so_date" column="SO_DATE"/>
	</resultMap>
</mapper>
