<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studyroomMapper">
	<select id="getRoomCount" resultType="_int">
		SELECT count(*) 
		FROM STUDYROOM		 
	</select>
	
	<select id="selectRoomList" resultMap="studyroomResultSet">
		SELECT *
		FROM STUDYROOM
		
	</select>
	
	<resultMap type="Studyroom" id="studyroomResultSet">
		<id property="sr_name" column="SR_NAME"/>
		<result property="sr_floor" column="SR_FLOOR"/>
		<result property="sr_maxPeople" column="SR_MAXPEOPLE"/>
	</resultMap>
</mapper>
