<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.FinalProject.studyroom_board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.FinalProject.studyroom_board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.FinalProject.notice.model.vo.Notice" alias="Notice"/>

		<typeAlias type="com.kh.FinalProject.studyroom_order.model.vo.Studyroom_orderInfo" alias="Studyroom_orderInfo"/>
		<typeAlias type="com.kh.FinalProject.studyroom_order.model.vo.Studyroom" alias="Studyroom"/>
		<typeAlias type="com.kh.FinalProject.studyroom_order.model.vo.StudyroomOrder" alias="StudyroomOrder"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/studyroom-mapper.xml"/>
	</mappers>
</configuration>

